<div class="panel panel-default">
  <div class="panel-heading">
    <b> <%= link_to event.name, event %> </b>
  </div>
  <div class="panel-body">
   <%= event.category %> <br />
   <% if event.start_time.strftime("%A, %B %d %Y") 
    .eql? event.end_time.strftime("%A, %B %d %Y")%>

     <%= event.start_time.strftime("%A, %B %d") %> <br>
         <%= event.start_time.strftime("%I:%M %p")%>
         at
         <%= event.location %> <br>
    
    <% else %>
       <%= event.start_time.strftime("%B %d") %> 
       at <%= event.start_time.strftime("%I:%M %p")%> 
       to
      <%= event.end_time.strftime("%B %d") %> 
       at <%= event.end_time.strftime("%I:%M %p")%> <br>
      <%= event.location %> <br>
    <% end %>
    <p>
      Description: <%= truncate(strip_tags(event.description), length: 120) %>
    </p>
    
    <% if !isAttending(current_user.id, event.id) %>
      <%= button_to 'Attend', { controller: 'users', action: 'attendEvent', id: event.id }, remote: true, class: "btn btn-success btn-sm" %>
    <% else %>
      <%= button_to 'Leave', { controller: 'users', action: 'leaveEvent', id: event.id }, remote: true, class: "btn btn-warning btn-sm" %>
    <% end %>
  </div>
  
  <div class="panel-body">
      <% getComments(event.id) .each do |c| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            User: <%= c.user_id %>
          </div>
          <div class="panel-body">
            <p>
              Text: <%= c.message %>
            </p>
            <p>
              Date: <%= c.created_at %>
            </p>
          </div>
        </div>
      <% end %>
        
      <%= form_for :comment, url: { controller: 'users', action: 'createComment' }, remote: true do |f| %>
        <%= f.text_area :message %>
        <%= f.hidden_field :event_id, :value => event.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit 'Comment' %>
      <% end %>
    </div>
</div>