<h1>Events Near Me</h1>

<p>
 <th>Your current location:</th>
 <%= @result.latitude %>
 <%= @result.longitude %>
</p>


<%= form_tag user_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col">
      <% @near_me .each do |e| %>
        <%= render partial: "eventSingle", locals: { event: e } %>
      <% end %>
    </div>
  </div>
</div>


<br />
<%= link_to "My Events", action: "index", controller: "events" %>

</p>

