<div class="container documents">
	<div class="row">
		<div class="col-md-6 col-sm-offset-3">
			<h2>Events Near You</h2>
			<%= form_tag user_path, :method => :get do %>
			<div class="col-md-2 pull-right">
				<%= submit_tag "Update Search", :name => nil, class:"btn btn-xs"%>
			</div>
			<div class="col-md-4 pull-right">
				Location:
				<%= text_field_tag :location, params[:location] %>
			</div>
			<div class="col-md-4 pull-right">
				Categories:
				<%= select_tag :category, options_for_select((list_categories).push(""), params[:category] || "") %>
			</div>
			<% end %>
			<br />
			<div class="col-md-4" >
				<th>Your current location:</th>
				<%= @result.latitude %>, <%= @result.longitude %>
			</div>
			<br> <br> <br> <br>
			<% @near_me.each do |e| %>
			<div id="event<%= e.id %>">
				<%= render partial: "eventSingle", locals: { event: e } %>
			</div>
			<% end %>

			<% if !@near_me.present? %>
			
			No events match the specified criteria. <br>
			Try searching for a different location or <%=link_to 'create your own event.', new_event_path, method: :get %>
			
			<% end %>

			<br />
			
		</div>
	</div>
</div>