<h1>Hello!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start</th>
      <th>End</th>
      <th>Time</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% event.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td><%= e.category %></td>
      <td><%= e.location %></td>
      <td><%= e.start_time %></td>
      <td><%= e.end_time %></td>
      <td><%= e.description %></td>
      <td><%= link_to 'Show', e %></td>
      <td><%= link_to 'Edit', edit_event_path(e) %></td>
      <td><%= link_to 'Destroy', e, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
