<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="panel panel-default" style="border-radius: 20px">
        <div class="panel-heading" style="border-top-left-radius: 20px; border-top-right-radius: 20px; background: #B8DBFF">
          <h3>
            <div class="row">
              <div class="col-md-3">
                <strong>Your Events</strong>
              </div>
              <div class="col col-md-offset-10">
                <%= button_to 'Create New Event', new_event_path, method: :get, class: "btn btn-success" %> 
              </div>
            </div>
          </h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Attendance</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
        
          <% @events.each do |e| %>
            <tr>
              <td><%= e.name %></td>
              <td><%= e.location %></td>
              <td><%= e.start_time %></td>
              <td><%= e.end_time %></td>
              <td>Not Implemented</td>
              <td>
                <%= button_to edit_event_path(e), method: :get, class: "btn btn-warning" do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
              </td>
              <td>
                <%= button_to e, method: :delete, data: { confirm: 'Are you sure you want to end this event?' }, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
            
          <% if @events.count == 0 %>
            <tr>
              <td colspan="7" style="text-align: center; font-size: 24px">You have no events!</td>
            </tr>
          <% end %>
        </table>
        <div class="panel-body">
          
        </div>
      </div>
      
	 	</div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="panel panel-default" style="border-radius: 20px">
        <div class="panel-heading" style="border-top-left-radius: 20px; border-top-right-radius: 20px; background: #DBB8FF">
          <h3><strong>Events You Are Attending</strong></h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Attendance</th>
              <th>Leave</th>
            </tr>
          </thead>
        
          <% @eventsAttending.each do |e| %>
            <tr>
              <td><%= e.name %></td>
              <td><%= e.location %></td>
              <td><%= e.start_time %></td>
              <td><%= e.end_time %></td>
              <td>Not Implemented</td>
              <td>
                <%= button_to e, method: :delete, data: { confirm: 'Are you sure you want to end this event?' }, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
            
          <% if @eventsAttending.count == 0 %>
            <tr>
              <td colspan="6" style="text-align: center; font-size: 24px">You aren't going to any events!</td>
            </tr>
          <% end %>
        </table>
        <div class="panel-body">
          
        </div>
      </div>
    </div>
  </div>
  
</div>