<div class="container documents">
<div class="example">
    
    <div class="row">
      <div class="col-md-6">
        <h2>Hosting</h2>
          <% @events.each do |e| %>
            <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title"> <%= e[0].name %> </h3>
          </div>
          <div class="panel-body">
              <%= e[0].start_time %> <br>
              <%= e[0].location %> <br>
              Going: <%= e[1] %>
                <div class = "row">
                  <div class="col-sm-2 pull-right">
                  <%= button_to edit_event_path(e[0]), method: :get, class: "btn btn-warning" do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
              </div>
              <div class="col-sm-2 pull-right">
                <%= button_to e[0], method: :delete, data: { confirm: 'Are you sure you want to end this event?' }, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </div>
             
              </div>
          </div>
        </div>          
          <% end %>

      </div>
      <div class="col-md-6">
        <h2>Attending</h2>
        <div class="panel panel-default">
          <div class="panel-heading">All events</div>
          <ul class="list-group">          
          <% @events.each do |e| %>
           <li class="list-group-item">
              <%= e[0].name %> <br>
              <%= e[0].location %>
              <%= e[0].start_time %>
              
              <%= e[1] %>
              
               <table>
                <tr>
                  <td>
               <%= button_to "/events/#{e[0].id}", method: :get, class: "btn btn-success" do %>
                  <span class="glyphicon glyphicon-menu-hamburger"></span>
                <% end %>
              </td>
              <td class="col-md-10">
                 <%= button_to "events/leaveEvent/#{e[0].id}", method: :get, data: { confirm: 'Are you sure you want to leave this event?' }, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
              </tr>
              </table>
             </li>
            
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>



<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="panel panel-default" style="border-radius: 20px">
        <div class="panel-heading" style="border-top-left-radius: 20px; border-top-right-radius: 20px; background: #B2FFB2">
          <h3>
            <div class="row">
              <div class="col-md-3">
                <strong>Your Events</strong>
              </div>
              <div class="col col-md-offset-10">
                <%= button_to 'Create New Event', new_event_path, method: :get, class: "btn btn-success" %> 
              </div>
            </div>
          </h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Attendance</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
        
          <% @events.each do |e| %>
            <tr>
              <td><%= e[0].name %></td>
              <td><%= e[0].location %></td>
              <td><%= e[0].start_time %></td>
              <td><%= e[0].end_time %></td>
              <td><%= e[1] %></td>
              <td>
                <%= button_to edit_event_path(e[0]), method: :get, class: "btn btn-warning" do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
              </td>
              <td>
                <%= button_to e[0], method: :delete, data: { confirm: 'Are you sure you want to end this event?' }, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
            
          <% if @events.count == 0 %>
            <tr>
              <td colspan="7" style="text-align: center; font-size: 24px">You have no events!</td>
            </tr>
          <% end %>
        </table>
        <div class="panel-body">
          
        </div>
      </div>
      
	 	</div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="panel panel-default" style="border-radius: 20px">
        <div class="panel-heading" style="border-top-left-radius: 20px; border-top-right-radius: 20px; background: #DBB8FF">
          <h3><strong>Events You Are Attending</strong></h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Attendance</th>
              <th>Show</th>
              <th>Leave</th>
            </tr>
          </thead>
        
          <% @eventsAttending.each do |e| %>
            <tr>
              <td><%= e[0].name %></td>
              <td><%= e[0].location %></td>
              <td><%= e[0].start_time %></td>
              <td><%= e[0].end_time %></td>
              <td><%= e[1] %></td>
              <td>
                <%= button_to "/events/#{e[0].id}", method: :get, class: "btn btn-success" do %>
                  <span class="glyphicon glyphicon-menu-hamburger"></span>
                <% end %>
              </td>
              <td>
                <%= button_to "events/leaveEvent/#{e[0].id}", method: :get, data: { confirm: 'Are you sure you want to leave this event?' }, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
            
          <% if @eventsAttending.count == 0 %>
            <tr>
              <td colspan="7" style="text-align: center; font-size: 24px">You aren't going to any events!</td>
            </tr>
          <% end %>
        </table>
        <div class="panel-body">
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>