<div class = "row">
  <div class="col-md-6"> 
    <p id="notice"><%= notice %></p>
    <p>
      <h2><%= @event.name %></h2>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>
    
    <p>
      <strong>Start:</strong>
      <%= @event.start_time.strftime("%A, %B %d, %Y") %> 
      at
      <%= @event.start_time.strftime("%I:%M %p")%>
    </p>
    
    <p>
      <strong>End:</strong>
      <%= @event.end_time.strftime("%A, %B %d, %Y") %> 
      at
      <%= @event.end_time.strftime("%I:%M %p")%>
    </p>
    
    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>
    
    <p>
    	<strong>Coordinates:</strong>
      	<%= @event.latitude %>, <%= @event.longitude %>
    </p>
    
    <p>
    	<strong>Category:</strong>
      	<%= @event.category %>
    </p>
    
    <p>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x300&maptype=roadmap&zoom=13&markers=%7C#{@event.latitude},#{@event.longitude}" %>
    </p>  
      <br>
      <% if @event.user == current_user %>
      <%= link_to 'Edit', edit_event_path(@event)  %>
      |
      <%= link_to 'Back', events_path    %>
      <% else %>
      <%= link_to "Back", action: "show", controller: "users"%>
      <% end %>
    </p>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <br>
    <br>
    <br>
    <ul class="list-group">
      <% getComments(@event.id) .each do |c| %> 
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <%= link_to User.find(c.user_id).name %>
            </div>
            <div class="col-md-10">
              <%= c.message %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align: right; color: gray">
              <small ><%= format_time(c.created_at) %></small>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>