<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
	<strong>Coordinates:</strong>
  	<%= @event.latitude %>, <%= @event.longitude %>
</p>

<p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x300&maptype=roadmap&zoom=13&markers=%7C#{@event.latitude},#{@event.longitude}" %>
</p>  
  <br>
  <% if @event.user == current_user %>
  <%= link_to 'Edit', edit_event_path(@event)  %>
  <%= link_to 'Back', events_path    %>
  <% else %>
  <%= link_to "Back", action: "show", controller: "users"%>
  <% end %>
</p>

