<!DOCTYPE html>
<html>
<head>
  <title>whatsup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

<p>

<% if logged_in? %>
  <div class="row">
    <div class="col">
      Welcome <%= current_user.name %>
    </div> 
    <div class="col">
      <%= button_to "Logout", action: "logout", controller: "users" %>
    </div>
  </div>
<% else %>
  <div class="row" style="background: black; height: 60px; margin: 0px">
      <%= form_for :session, url: { action: 'login', controller: 'users' } do |f| %>
        <div class="col-md-2 col-md-offset-6" style="color: white">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div class="col-md-3" style="color: white">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div class="col-md-1" style="position: relative; top: 50%; transform: translateY(16%); right: 0%;">
          <%= f.submit "Log in", class: "btn btn-default" %>
        </div>
      <% end %>
  </div>
<% end %>
</p>



<%= yield %>

</body>
</html>
