<!DOCTYPE html>
<html>
<head>
  <title>whatsup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

<p>

<% if logged_in? %>
  Welcome <%= current_user.name %> <%= button_to "Logout", action: "logout", controller: "users" %>
<% else %>
  <%= form_for :session, url: { action: 'login', controller: 'users' } do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Log in" %>
  <% end %>
<% end %>
</p>



<%= yield %>

</body>
</html>
