<!DOCTYPE html>
<html>
<head>
  <title>whatsup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

<p>

<nav style="background: black;">
  <div class="container-fluid">
    <div class="navbar-header">
        <%= link_to "whatsup", action: "show", controller: "users", class: "btn btn-default" %>
    </div>
    
    <% if logged_in? %>
      <div class="collapse navbar-collapse" style="color: white">
          Welcome <%= current_user.name %> 
      </div>
      <div class ="collapse navbar-collapse">
        <%= button_to "Logout", action: "logout", controller: "users", class: "btn btn-default" %>
      </div>
    <% else %>
      <div class="row">
          <%= form_for :session, url: { action: 'login', controller: 'users' }, class: "navbar-form navbar-left" do |f| %>
            <div class="form-group">
              <%= f.label :email, style: "color: white" %>
              <%= f.email_field :email %>
            </div>
    
            <div class="form-group">
              <%= f.label :password, style: "color: white" %>
              <%= f.password_field :password %>
            </div>
    
            <div>
              <%= f.submit "Log in", class: "btn btn-default" %>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
</nav>



</p>



<%= yield %>

</body>
</html>
